In [59]:
import pandas as pd
import numpy as np

In [1]:
# Read the CSV file
# player_date = pd.read_csv('./player_stats/player_data.csv')
# player_date

## Dataset 1: NBA Players Stats

You can find the dataset here: https://www.kaggle.com/drgilermo/nba-players-stats

This dataset was composed of 3 CSVs, we chose to cut the "player_data.csv" since it didn't match correctly with the other two datasets.
The information it held did not impact the progeress as similar info already exists in the more consistent "players.csv" file.

We first decided to match the stats data to our other target dataset (more below) of salaries in terms of years. We cut the entires before 1990 as to keep it consistent with the salaries dataset. We did this also because we saw more robust entry of stat information in the later years.

In [60]:
# Read the CSV file
players = pd.read_csv('./player_stats/players.csv')
players

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [61]:
# Read the CSV file
seasons = pd.read_csv('./player_stats/seasons_stats.csv')
seasons

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [62]:
seasons = seasons[seasons['Year'] >= 1990]

In [63]:
seasons

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
9547,9547,1990.0,Mark Acres,C,27.0,ORL,80.0,50.0,1691.0,8.3,...,0.692,154.0,277.0,431.0,67.0,36.0,25.0,70.0,248.0,362.0
9548,9548,1990.0,Michael Adams,PG,27.0,DEN,79.0,74.0,2690.0,15.4,...,0.850,49.0,176.0,225.0,495.0,121.0,3.0,141.0,133.0,1221.0
9549,9549,1990.0,Mark Aguirre,SF,30.0,DET,78.0,40.0,2005.0,15.8,...,0.756,117.0,188.0,305.0,145.0,34.0,19.0,121.0,201.0,1099.0
9550,9550,1990.0,Danny Ainge,PG,30.0,SAC,75.0,68.0,2727.0,16.1,...,0.831,69.0,257.0,326.0,453.0,113.0,18.0,185.0,238.0,1342.0
9551,9551,1990.0,Mark Alarie,PF,26.0,WSB,82.0,10.0,1893.0,14.1,...,0.812,151.0,223.0,374.0,142.0,60.0,39.0,101.0,219.0,860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [32]:
# seasons[seasons['Player'] == "Carl Landry"]

## Dataset 2: NBA Players salaries

You can find the dataset here: https://www.kaggle.com/whitefero/nba-player-salary-19902017

In [64]:
# Read the CSV file
salaries = pd.read_csv('./player_salaries/salaries_per_year.csv')
salaries

,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
0,1,A.C. Green,"$1,750,000.00",1990,1991,LAL,Los Angeles Lakers
1,354,A.C. Green,"$1,750,000.00",1991,1992,LAL,Los Angeles Lakers
2,727,A.C. Green,"$1,750,000.00",1992,1993,LAL,Los Angeles Lakers
3,1103,A.C. Green,"$1,885,000.00",1993,1994,PHO,Phoenix Suns
4,1497,A.C. Green,"$6,472,600.00",1994,1995,PHO,Phoenix Suns
...,...,...,...,...,...,...,...
11832,6283,Zydrunas Ilgauskas,"$8,740,000.00",2005,2006,CLE,Cleveland Caveliers
11833,6658,Zydrunas Ilgauskas,"$9,442,697.00",2006,2007,CLE,Cleveland Caveliers
11834,7063,Zydrunas Ilgauskas,"$10,142,156.00",2007,2008,CLE,Cleveland Caveliers
11835,7485,Zydrunas Ilgauskas,"$10,841,615.00",2008,2009,CLE,Cleveland Caveliers
11836,7943,Zydrunas Ilgauskas,"$11,541,074.00",2009,2010,WAS,Washington Wizards

In [65]:
df_NBA = pd.merge(seasons, salaries,  how='left', left_on=['Player','Year'], right_on = ['Player Name','Season End'])

In [66]:
df_NBA

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
0,9547,1990.0,Mark Acres,C,27.0,ORL,80.0,50.0,1691.0,8.3,...,70.0,248.0,362.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9548,1990.0,Michael Adams,PG,27.0,DEN,79.0,74.0,2690.0,15.4,...,141.0,133.0,1221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9549,1990.0,Mark Aguirre,SF,30.0,DET,78.0,40.0,2005.0,15.8,...,121.0,201.0,1099.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9550,1990.0,Danny Ainge,PG,30.0,SAC,75.0,68.0,2727.0,16.1,...,185.0,238.0,1342.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9551,1990.0,Mark Alarie,PF,26.0,WSB,82.0,10.0,1893.0,14.1,...,101.0,219.0,860.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15724,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,65.0,189.0,639.0,10826.0,Cody Zeller,"$5,318,313.00",2016.0,2017.0,CHA,Charlotte Hornets
15725,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,20.0,61.0,178.0,11299.0,Tyler Zeller,"$8,000,000.00",2016.0,2017.0,BOS,Boston Celtic
15726,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,3.0,17.0,23.0,11255.0,Stephen Zimmerman,"$950,000.00",2016.0,2017.0,ORL,Orlando Magic
15727,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,40.0,78.0,240.0,11187.0,Paul Zipser,"$750,000.00",2016.0,2017.0,CHI,Chicago Bulls
15728,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,30.0,66.0,284.0,10945.0,Ivica Zubac,"$1,034,956.00",2016.0,2017.0,LAL,Los Angeles Lakers

In [67]:
df_NBA['Salary'].count()

12730

In [68]:
df_NBA.dropna(subset=['Player Name'], inplace=True)

In [69]:
df_NBA.count()

Unnamed: 0        12730
Year              12730
Player            12730
Pos               12730
Age               12730
Tm                12730
G                 12730
GS                12730
MP                12730
PER               12725
TS%               12675
3PAr              12672
FTr               12672
ORB%              12725
DRB%              12725
TRB%              12725
AST%              12725
STL%              12725
BLK%              12725
TOV%              12685
USG%              12725
blanl                 0
OWS               12730
DWS               12730
WS                12730
WS/48             12725
blank2                0
OBPM              12730
DBPM              12730
BPM               12730
VORP              12730
FG                12730
FGA               12730
FG%               12672
3P                12730
3PA               12730
3P%               10636
2P                12730
2PA               12730
2P%               12641
eFG%              12672
FT                12730
FTA               12730
FT%               12212
ORB               12730
DRB               12730
TRB               12730
AST               12730
STL               12730
BLK               12730
TOV               12730
PF                12730
PTS               12730
Register Value    12730
Player Name       12730
Salary            12730
Season Start      12730
Season End        12730
Team              12730
Full Team Name    12730
dtype: int64

In [70]:
df_NBA.drop(['Unnamed: 0','blanl','blank2'], inplace=True, axis=1)

In [71]:
df_NBA.count()

Year              12730
Player            12730
Pos               12730
Age               12730
Tm                12730
G                 12730
GS                12730
MP                12730
PER               12725
TS%               12675
3PAr              12672
FTr               12672
ORB%              12725
DRB%              12725
TRB%              12725
AST%              12725
STL%              12725
BLK%              12725
TOV%              12685
USG%              12725
OWS               12730
DWS               12730
WS                12730
WS/48             12725
OBPM              12730
DBPM              12730
BPM               12730
VORP              12730
FG                12730
FGA               12730
FG%               12672
3P                12730
3PA               12730
3P%               10636
2P                12730
2PA               12730
2P%               12641
eFG%              12672
FT                12730
FTA               12730
FT%               12212
ORB               12730
DRB               12730
TRB               12730
AST               12730
STL               12730
BLK               12730
TOV               12730
PF                12730
PTS               12730
Register Value    12730
Player Name       12730
Salary            12730
Season Start      12730
Season End        12730
Team              12730
Full Team Name    12730
dtype: int64

In [79]:
df_NBA['GS'].isnull().count()

12730

In [80]:
df_NBA.dropna()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,TOV,PF,PTS,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
460,1991.0,Mahmoud Abdul-Rauf,PG,21.0,DEN,67.0,19.0,1505.0,12.2,0.448,...,110.0,149.0,942.0,214.0,Mahmoud Abdul-Rauf,"$1,660,000.00",1990.0,1991.0,DEN,Denver Nuggets
461,1991.0,Mark Acres,C,28.0,ORL,68.0,0.0,1313.0,9.2,0.551,...,42.0,218.0,285.0,218.0,Mark Acres,"$437,000.00",1990.0,1991.0,ORL,Orlando Magic
462,1991.0,Michael Adams,PG,28.0,DEN,66.0,66.0,2346.0,22.3,0.530,...,240.0,162.0,1752.0,228.0,Michael Adams,"$825,000.00",1990.0,1991.0,DEN,Denver Nuggets
463,1991.0,Mark Aguirre,SF,31.0,DET,78.0,13.0,2006.0,16.7,0.526,...,128.0,209.0,1104.0,219.0,Mark Aguirre,"$1,115,000.00",1990.0,1991.0,DET,Detroit Pistons
464,1991.0,Danny Ainge,SG,31.0,POR,80.0,0.0,1710.0,17.0,0.574,...,100.0,195.0,890.0,63.0,Danny Ainge,"$725,000.00",1990.0,1991.0,POR,Portland Trail Blazers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15723,2017.0,Thaddeus Young,PF,28.0,IND,74.0,74.0,2237.0,14.9,0.562,...,96.0,135.0,814.0,11268.0,Thaddeus Young,"$14,153,652.00",2016.0,2017.0,IND,Indiana Pacers
15724,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,65.0,189.0,639.0,10826.0,Cody Zeller,"$5,318,313.00",2016.0,2017.0,CHA,Charlotte Hornets
15725,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,20.0,61.0,178.0,11299.0,Tyler Zeller,"$8,000,000.00",2016.0,2017.0,BOS,Boston Celtic
15727,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,40.0,78.0,240.0,11187.0,Paul Zipser,"$750,000.00",2016.0,2017.0,CHI,Chicago Bulls
15728,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,30.0,66.0,284.0,10945.0,Ivica Zubac,"$1,034,956.00",2016.0,2017.0,LAL,Los Angeles Lakers

In [85]:
df_NBA.dtypes

Year              float64
Player             object
Pos                object
Age               float64
Tm                 object
G                 float64
GS                float64
MP                float64
PER               float64
TS%               float64
3PAr              float64
FTr               float64
ORB%              float64
DRB%              float64
TRB%              float64
AST%              float64
STL%              float64
BLK%              float64
TOV%              float64
USG%              float64
OWS               float64
DWS               float64
WS                float64
WS/48             float64
OBPM              float64
DBPM              float64
BPM               float64
VORP              float64
FG                float64
FGA               float64
FG%               float64
3P                float64
3PA               float64
3P%               float64
2P                float64
2PA               float64
2P%               float64
eFG%              float64
FT                float64
FTA               float64
FT%               float64
ORB               float64
DRB               float64
TRB               float64
AST               float64
STL               float64
BLK               float64
TOV               float64
PF                float64
PTS               float64
Register Value    float64
Player Name        object
Salary             object
Season Start      float64
Season End        float64
Team               object
Full Team Name     object
dtype: object

In [88]:
df_NBA = df_NBA.fillna(df_NBA.mean())
df_NBA

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,TOV,PF,PTS,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
459,1991.0,Alaa Abdelnaby,PF,22.0,POR,43.0,0.0,290.0,13.1,0.499,...,22.0,39.0,135.0,6.0,Alaa Abdelnaby,"$395,000.00",1990.0,1991.0,POR,Portland Trail Blazers
460,1991.0,Mahmoud Abdul-Rauf,PG,21.0,DEN,67.0,19.0,1505.0,12.2,0.448,...,110.0,149.0,942.0,214.0,Mahmoud Abdul-Rauf,"$1,660,000.00",1990.0,1991.0,DEN,Denver Nuggets
461,1991.0,Mark Acres,C,28.0,ORL,68.0,0.0,1313.0,9.2,0.551,...,42.0,218.0,285.0,218.0,Mark Acres,"$437,000.00",1990.0,1991.0,ORL,Orlando Magic
462,1991.0,Michael Adams,PG,28.0,DEN,66.0,66.0,2346.0,22.3,0.530,...,240.0,162.0,1752.0,228.0,Michael Adams,"$825,000.00",1990.0,1991.0,DEN,Denver Nuggets
463,1991.0,Mark Aguirre,SF,31.0,DET,78.0,13.0,2006.0,16.7,0.526,...,128.0,209.0,1104.0,219.0,Mark Aguirre,"$1,115,000.00",1990.0,1991.0,DET,Detroit Pistons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15724,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,65.0,189.0,639.0,10826.0,Cody Zeller,"$5,318,313.00",2016.0,2017.0,CHA,Charlotte Hornets
15725,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,20.0,61.0,178.0,11299.0,Tyler Zeller,"$8,000,000.00",2016.0,2017.0,BOS,Boston Celtic
15726,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,3.0,17.0,23.0,11255.0,Stephen Zimmerman,"$950,000.00",2016.0,2017.0,ORL,Orlando Magic
15727,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,40.0,78.0,240.0,11187.0,Paul Zipser,"$750,000.00",2016.0,2017.0,CHI,Chicago Bulls
15728,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,30.0,66.0,284.0,10945.0,Ivica Zubac,"$1,034,956.00",2016.0,2017.0,LAL,Los Angeles Lakers

In [90]:
np.sum(df_NBA.isnull())

Year              0
Player            0
Pos               0
Age               0
Tm                0
G                 0
GS                0
MP                0
PER               0
TS%               0
3PAr              0
FTr               0
ORB%              0
DRB%              0
TRB%              0
AST%              0
STL%              0
BLK%              0
TOV%              0
USG%              0
OWS               0
DWS               0
WS                0
WS/48             0
OBPM              0
DBPM              0
BPM               0
VORP              0
FG                0
FGA               0
FG%               0
3P                0
3PA               0
3P%               0
2P                0
2PA               0
2P%               0
eFG%              0
FT                0
FTA               0
FT%               0
ORB               0
DRB               0
TRB               0
AST               0
STL               0
BLK               0
TOV               0
PF                0
PTS               0
Register Value    0
Player Name       0
Salary            0
Season Start      0
Season End        0
Team              0
Full Team Name    0
dtype: int64

## D2.4: Feature Engineering